<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>KPIs</title>
</head>

<body>
    <form action="/inserir_pedido" method="post">

        <input type="text" autofocus="true" placeholder="PEDIDO" name="ATACADO_PEDIDO" required="required" />
        <input type="text" autofocus="true" placeholder="NOME FANTASIA" name="NOME_FANTASIA" required="required" />

        <button type="submit" id="btnEnviar" >Inserir Pedido</button>

    </form>
</body>