<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet"  type="text/css" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Informações Mensais</title>
</head>

<body>
    <!-- <script src="modal_usr.js"></script> -->
    <h1>Inclusão das Informações Mensais</h1>
    <form action="/informacoes_mensais_salvar" method="post">
        
        <input type="text" autofocus="true" placeholder="Total de Produtos Ativos" name="ESTOQUE_TOTAL_PRODUTOS_ATIVOS" required="required"/>
       
        <button type="submit" id="btnEnviar">Salvar Resultados</button>
        </div>
    </form>
</body>

</html>