<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet"  type="text/css" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <!-- <script src="modal_usr.js"></script> -->
    <h1>Inclusão das Informações da Produção</h1>
    <form action="/producao_salvar" method="post">
        
        <input type="text" autofocus="true" placeholder="Quantidade de Pedidos" name="TOTAL_DE_PEDIDOS" required="required"/>

        <input type="text" placeholder="Quantidade de Linhas" name="TOTAL_DE_LINHAS" required="required"/>

        <input type="text" placeholder="Quantidade de Linhas por Pedido" name="MEDIA_LINHAS_POR_PEDIDO" required="required"/>

        <input type="text" placeholder="Quantidade de Unidades" name="TOTAL_DE_UNIDADES" required="required"/>
       
        <button type="submit" id="btnEnviar">Salvar Resultados</button>
        </div>
    </form>
</body>

</html>