<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="form-group">
        <div class="   col-md-6 offset-md-4">
            <form action="/cadastrar_fornecedor" method="get">
                <button type="submit" class="btn btn-primary">Cadastrar Fornecedor</button>
            </form>
            <form action="/cadastrar_transportadora" method="get">
                <button type="submit" class="btn btn-primary">Cadastrar Transportadora</button>
            </form>
            <form action="/gerar_agendamento" method="get">
                <button type="submit" class="btn btn-primary">Gerar Agendamento</button>
            </form>

            <form action="/consultar_agendamento" method="get">
                <button type="submit" class="btn btn-primary">Consultar Agendamentos</button>
            </form>
        </div>
    </div>

</body>

</html>